{% extends 'base.html' %}

{% block title %} Post List {% endblock %}
{% block content %}


    <h1>search blog</h1>

        <form method='GET'>
            <input type='text' name='q' placeholder='Search...' value='{{ query}}'>
            <button type='submit'>Search</button>
        </form>

{% for post in posts %}
    <div>
        <a href="{% url 'blog:post_detail' slug=post.slug %}">
            <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" style="max-width: 400px">
            <h3>{{ post.title }}</h3>
        </a>
            <p>{{ post.content }}</p>
            <p>Category: {{ post.Category.name }}</p>
            <p>AT {{ post.created_by }} by {{ post.author }}</p>
    </div>

    {% empty %}
    <p> No post found! </p>

    {% endfor %}
{% endblock %}
