{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} My Blog {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'blog:home' %}">Home</a></li>
          <li><a href="{% url 'blog:about' %}">About</a></li>
          <li><a href="{% url 'blog:post_created' %}"> Create New Post</a></li>
          <li><a href="{% url 'blog:post_list' %}"> Search</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block content %} {% endblock %}</main>

    <footer>copyright &copy; 2024 My Blog. All rights reserved.</footer>
  </body>
</html>
